<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hero.mapper.HeroSkinMapper" >
  <resultMap id="BaseResultMap" type="com.hero.pojo.HeroSkin" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="skin_name" property="skinName" jdbcType="VARCHAR" />
    <result column="big_img" property="bigImg" jdbcType="VARCHAR" />
    <result column="tiny_img" property="tinyImg" jdbcType="VARCHAR" />
    <result column="uk_name" property="ukName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, skin_name, big_img, tiny_img, uk_name
  </sql>

  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hero.pojo.HeroSkinExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hero_skin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from hero_skin
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from hero_skin
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.hero.pojo.HeroSkinExample" >
    delete from hero_skin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hero.pojo.HeroSkin" >
    insert into hero_skin (id, skin_name, big_img, 
      tiny_img, uk_name)
    values (#{id,jdbcType=BIGINT}, #{skinName,jdbcType=VARCHAR}, #{bigImg,jdbcType=VARCHAR}, 
      #{tinyImg,jdbcType=VARCHAR}, #{ukName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hero.pojo.HeroSkin" >
    insert into hero_skin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="skinName != null" >
        skin_name,
      </if>
      <if test="bigImg != null" >
        big_img,
      </if>
      <if test="tinyImg != null" >
        tiny_img,
      </if>
      <if test="ukName != null" >
        uk_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="skinName != null" >
        #{skinName,jdbcType=VARCHAR},
      </if>
      <if test="bigImg != null" >
        #{bigImg,jdbcType=VARCHAR},
      </if>
      <if test="tinyImg != null" >
        #{tinyImg,jdbcType=VARCHAR},
      </if>
      <if test="ukName != null" >
        #{ukName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hero.pojo.HeroSkinExample" resultType="java.lang.Integer" >
    select count(*) from hero_skin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hero_skin
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.skinName != null" >
        skin_name = #{record.skinName,jdbcType=VARCHAR},
      </if>
      <if test="record.bigImg != null" >
        big_img = #{record.bigImg,jdbcType=VARCHAR},
      </if>
      <if test="record.tinyImg != null" >
        tiny_img = #{record.tinyImg,jdbcType=VARCHAR},
      </if>
      <if test="record.ukName != null" >
        uk_name = #{record.ukName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hero_skin
    set id = #{record.id,jdbcType=BIGINT},
      skin_name = #{record.skinName,jdbcType=VARCHAR},
      big_img = #{record.bigImg,jdbcType=VARCHAR},
      tiny_img = #{record.tinyImg,jdbcType=VARCHAR},
      uk_name = #{record.ukName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hero.pojo.HeroSkin" >
    update hero_skin
    <set >
      <if test="skinName != null" >
        skin_name = #{skinName,jdbcType=VARCHAR},
      </if>
      <if test="bigImg != null" >
        big_img = #{bigImg,jdbcType=VARCHAR},
      </if>
      <if test="tinyImg != null" >
        tiny_img = #{tinyImg,jdbcType=VARCHAR},
      </if>
      <if test="ukName != null" >
        uk_name = #{ukName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hero.pojo.HeroSkin" >
    update hero_skin
    set skin_name = #{skinName,jdbcType=VARCHAR},
      big_img = #{bigImg,jdbcType=VARCHAR},
      tiny_img = #{tinyImg,jdbcType=VARCHAR},
      uk_name = #{ukName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>