<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--properties文件或者在properties中配置，都是键值对的配置方式
        name = value        name = " "  value = " "
        如果需要在该文件中访问其中的值，需要通过${}来进行访问
    -->
    <properties resource="jdbc.properties">
    </properties>
    <typeAliases>
        <!--指定别名，之后在其他地方使用com.train.day21mybatis.Role
            直接使用role代替
        -->
        <typeAlias type="com.train.day21mybatis.Role" alias="role"></typeAlias>
    </typeAliases>

    <!-- 数据库 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driverClass}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="com/train/day21mybatis/RoleMapper.xml"></mapper>
    </mappers>

</configuration>
